* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  border: 3px solid #000000;
  background-color: #102b7c;
  position: fixed;
  top: 0;
  z-index: 10;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar-contents>p {
  color: #ffffff;
  font-family: "arial black";
  font-size: 20px;
  box-shadow: 0 5px #020233;
}

.search-bar-contents>span {
  color: #333333
}

.icon {
  background-color: #102b7c;
  width: 4vw;
  padding-top: 5px;
  padding-left: 5px;
  margin-right: 4vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 50%;
  height: 5vh;
  padding-left: 10px;
  box-shadow: 5px 5px #020233;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #102b7c;
  padding: 8px;
  box-shadow: 5px 5px #020233;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color:#ffffff;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  padding: 7px;
  box-shadow: 5px 5px #020233;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  font-size: 20px;
  color: #ffffff;
  padding: 7px;
  box-shadow: 5px 5px #020233;
}

.sign-up {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  padding: 7px;
  box-shadow: 5px 5px #020233;
}