* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  background-color: #0d0d97;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar-contents>p {
  color: #ffffff;
}

.search-bar-contents>span {
  color: #333333
}

.icon {
  width: 4vw;
  padding-left: 5px;
  margin-right: 4vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #0d0d97;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color:#ffffff;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #ffffff;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #ffffff;
}

.sign-up {
  text-decoration: none;
  color: #ffffff;
}