a {
  text-decoration: none;
}

.main {
  margin-top: 20vh;
  background: #f8f8f8;
}

.book-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.book-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.book-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.book-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-lists>.list {
  width: 37vh;
  padding: 1vw;
  margin: 1vw;
  border: 3px solid #575656;
  background-color: #ffffff;
  border-radius: 10px;
}


.book-img-content {
  position: relative;
}

.book-img {
  width: 25vh;
  height: 33vh;
}


.book-info {
  background-color:#ffffff;
  color:#000000;
  padding: 1vw;
}

.book-title {
  font-size: 2.5vh;
}

.book-author {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}
